form {
    margin: 0 auto;
    width: 400px;
    padding: 1em;
    border: 1px solid #6a04b8;
    border-radius: 1em;
    margin-top: 150px;
  }
  label {
    display: block;
    margin-top: 1em;
  }
  
  input, textarea {
    width: 100%;
    padding: 0.5em;
    border: 1px solid #a713f0;
    border-radius: 0.5em;
    box-sizing: border-box;
  }
  h1{
    text-align: center;
    color: #8e1179;
}
body{
    background-color: #c385fd;
}
.submit{
    margin-top: 20px;
    background-color: #c385fd;
    margin-bottom: 20px;
}
img{
    width:500px;
    height:500px;
    border-radius: 10px; 
    margin-left: 500px;
    margin-top: 50px;
}
